body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	padding: 1rem;
}
.movie-info-image {
	width: 100%;
	height: 360px;
}

.card .card-content {
	padding: 2rem 0 0 !important;
	text-align: center;
}
.home {
	text-align: center;
}
.cloudflix-nav,
h1 {
	font-family: 'Pacifico', cursive;
}
h2,
h3 {
	font-family: 'Balsamiq Sans', cursive;
}
.home p {
	margin: 0;
	padding: 0;
}
li a {
	color: black !important;
	font-weight: 600;
}
.search-box {
	display: flex;
	width: 100%;
}
.material-icons {
	margin: 1.2rem 0;
}
.search-input {
	width: 100%;
}
.navbar-sidenav li {
	padding: 2rem;
}

.back-button {
	display: flex;
	width: 50% !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 2rem;
	align-items: center;
}
.add-circle {
	margin: 0;
}
@media only screen and (max-width: 740px) {
	.table-media {
		display: none;
	}
}
.buttons-movie-info {
	display: flex;
	padding: 0;
}
.buttons-movie-info p {
	margin: 0;
	padding: 0 1rem;
	background: #47e747;
	width: 50%;
}
.buttons-movie-info button {
	margin: 0 2rem;
	width: 50%;
}
